<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./moment.min.js"></script>
    <script src="./lodash.min.js"></script>
    <meta name="viewport" charset="utf-8"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-row no-gutters>
                        <v-col :key='1' :cols='2'>
                            <v-card>
                                <template>
                                    <v-row justify="center">
                                        <v-date-picker v-model="pickermonth" @change="monthChange" type="month">
                                        </v-date-picker>
                                    </v-row>
                                </template>
                            </v-card>
                            <v-card style="padding: 12px">
                                <div style="height:28px; line-height:20px; padding:4px; margin:12px;color:#fff; background-color: #3f51b5">
                                    中国法定假
                                </div>
                                <div style="height:28px; line-height:20px; padding:4px; margin:12px;color:#fff; background-color: #673ab7">
                                    美国联邦法定假
                                </div>
                                <div style="height:28px; line-height:20px; padding:4px; margin:12px;color:#fff; background-color: #4caf50">
                                    美国乱七八槽节日
                                </div>
                            </v-card>
                        </v-col>
                        <v-col :key='2' :cols='8'>
                            <v-card>
                                <v-card-title>{{pickermonth}}</v-card-title>
                                <v-calendar ref="calendar" v-model="calendarmonth" :type="'month'"
                                :events="events"
                                :event-overlap-mode="'stack'"
                                :event-overlap-threshold="30"
                                :event-color="getEventColor"></v-calendar>
                            </v-card>
                        </v-col>
                        <v-col :key='3' :cols='2'></v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                cnapi: "http://timor.tech/api/holiday/year/{month}",
                usapi: "https://holidays.abstractapi.com/v1/?api_key=4e1a0415c98c481fb2f37b1a2a088e50&country=US&year={year}&month={month}",
                pickermonth: moment().format('YYYY-MM'),
                calendarmonth: '',
                events: [],
                uscolor: 'lightsalmon',
                uspublic: new Set(['New Year\'s Day', 
                "Martin Luther King Jr. Day", 
                'Presidents Day' , 
                'Memorial Day',
                'Independence Day',
                'Labor Day',
                'Columbus Day',
                'Veterans Day',
                'Thanksgiving Day',
                'Christmas Day'
                ])
            },
            created() {
                this.getCNData();
                this.getUSData();
            },
            methods: {
                getCNData: function () {
                    var that = this;
                    axios.get(this.cnapi.replace('{month}', this.pickermonth))
                        .then(function (res) {
                            let cnevents = _.map(_.filter(_.values(res.data.holiday),function(data) {
                                return data.holiday;
                            }), function(data) {
                                return {
                                    name: data.name,
                                    start: data.date,
                                    end: data.date,
                                    color: 'indigo'
                                }
                            });
                            // that.events = cnevents;
                            that.events = _.filter(_.concat(that.events, cnevents), function(data) {
                                return data
                            });
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                getUSData: function () {
                    var that = this;
                    axios.get(this.usapi.replace('{year}', this.pickermonth.split('-')[0]).replace('{month}', this.pickermonth.split('-')[1]))
                        .then(function (res) {
                            console.log(res.data);
                            let usevents = _.map(res.data, function(data) {
                                let color = 'green';
                                if (that.uspublic.has(data.name)) {
                                    color = 'deep-purple';
                                }
                                
                                return {
                                    name: data.name,
                                    start: moment(data.date).format("YYYY-MM-DD"),
                                    end: moment(data.date).format("YYYY-MM-DD"),
                                    color: color
                                }
                            })
                            that.events = _.filter(_.concat(that.events, usevents), function(data) {
                                return data
                            });
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                monthChange: function (val) {
                    this.events = [];
                    this.getCNData();
                    this.getUSData();
                    this.calendarmonth = val + "-01";
                },
                getEventColor: function (event) {
                    return event.color;
                }
            }
        })
    </script>
</body>

</html>
